

main code is 


1) it takes listed stocks and get 10% put and CALL premium for a given expiry date
 & C:/Users/vikal/AppData/Local/Programs/Python/Python313/python.exe c:/Coding/NSE/stock-options-fetcher/src/myshares/fetch_pfc_option_chain.py


 2)
